@import './globals.scss';

main {
  max-width: 760px;
  margin: 0 auto;
}
.weekWrapper {
  display: flex;
  flex-wrap: wrap;
}
.weekNumber {
  color: white;
  background-color: rgb(63, 63, 63);
  width: 35px;
  padding: 0.3em 0;
  font-size: 1.4rem;
  text-align: center;
  margin: 0.5em 0.5em 0em 0;
  cursor: pointer;
}
.freeWeekNumber {
  @extend .weekNumber;
  background-color: rgb(175, 255, 175);
  color: rgb(63, 63, 63);
}
.weekListElement {
  border: 2px solid rgb(88, 88, 88);
  padding: 1em;
  margin-bottom: 1.5em;
  color: rgb(51, 51, 51);
  h2 {
    font-size: 2rem;
  }
  details {
    font-size: 1.3rem;
    summary {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.weekDetails {
  li {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      display: block;
      width: 100%;
      align-self: flex-start;
      &:nth-child(1) {
        min-width: 150px;
      }
      &:nth-child(2) {
        padding-left: 5rem;
      }
      a {
        color: rgb(42, 88, 104);
      }
    }

    &:nth-of-type(2n) {
      background-color: #c1c1c1;
    }
  }
}
.noLunch {
  @extend .weekListElement;
  background-color: rgb(175, 255, 175);
}
.employees {
  display: flex;
  flex-wrap: wrap;
}
.employee {
  width: 120px;
  padding: 0.8em 1em;
  margin: 0.5em 0.5em 0 0;
  color: white;
  font-size: 1.3rem;
  background-color: rgb(63, 63, 63);
  li {
    font-weight: 700;
  }
  a {
    color: lightskyblue;
  }
}
.editNameForm {
  margin-bottom: 1em;
}
nav {
  ul {
    display: flex;
    gap: 0.1em;
    margin-bottom: 2em;
    li {
      background-color: #add8e6;
      h2 {
        a {
          color: rgb(65, 65, 65);
          text-decoration: none;
          padding: 0em 2.5em;
          &:hover {
            background-color: rgb(150, 208, 228);
          }
        }
      }
    }
  }
}
table {
  margin-bottom: 1em;
}
tr {
  th {
    text-align: start;
    width: 150px;
  }
  td {
    text-align: start;
    width: 150px;
  }
}
.workDays {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.workDayCard {
  @extend .weekNumber;
  width: 100px;
  cursor: default;
  h3 {
    color: #e6bbad;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      color: #d1a394;
    }
  }
}
.searchedEmployees {
  @extend .weekDetails;
  margin-bottom: 1em;
}

// Lånt button styling
.appButton {
  background-color: #36a9ae;
  background-image: linear-gradient(#37adb2, #329ca0);
  border: 1px solid #2a8387;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 1px;
  color: #ffffff;
  cursor: pointer;
  font-family: -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue',
    Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 100%;
  margin: 0 0 0 5px;
  outline: 0;
  padding: 6px 15px 7px;
  text-align: center;
  transition: box-shadow 0.05s ease-in-out, opacity 0.05s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.appButton:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0 0 2px inset,
    rgba(0, 0, 0, 0.4) 0 1px 2px;
  text-decoration: none;
  transition-duration: 0.15s, 0.15s;
}

.appButton:active {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px inset, rgba(0, 0, 0, 0.4) 0 1px 1px;
}

.appButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.appButton:disabled:active {
  pointer-events: none;
}

.appButton:disabled:hover {
  box-shadow: none;
}
